/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
     font-family: 'Open Sans', sans-serif;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
      background-size: cover;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 960px;
  margin: auto;
  height: 330px;
}

header {

}

footer {

}

h1.relax {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-align: center;
  color: #f9e42e;
  margin-top: 200px;

}

h2.sub {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: center;
  color: #f9e42e;
}

div.get {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-align: center;
  color: #033048;
  background-color: white;
  margin: 0 auto;
  width: 200px;
  border-radius: 5px;
  padding: 2px 8px 2px 8px;
  display: box;
}

div.benefits {
font-size: 20px;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
margin-left: 20%;
margin-top: 40px;
color: white;
}

ul {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
  margin-left: 20%;
  margin-top: 10px;
  margin-bottom: 50px;
}

p.body1 {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
  margin-left: 20%;
}

blockquote {
  float: right;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 330px;
  margin-right: 25%;
  color: white;
  font-style: italic;
  padding-top: 4px;
  padding-bottom: 4px;
}

span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: white;
}

div.sign {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-align: center;
  color: #033048;
  background-color: #f9e42e;
  margin: 0 auto;
  width: 200px;
  border-radius: 5px;
  padding: 2px 8px 2px 8px;
  display: box;
}

div.end {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: white;
  text-align: center;
  margin-top: 50px;
}

div.copy {
  font-family: 'Open Sans', sans-serif;
  font-size: 9px;
  font-weight: 600;
  color: white;
  text-align: center;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/




