/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    margin: -15px;
     color: #eee;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     background-color: #eee;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 960px;
  height: 700px;
  float: center;
  margin: 0 auto 0 auto;
  padding: 40px;
  background: url(../images/header_bg.jpg) no-repeat center top;
}

.benefits {
  width: 960px;
  height: 612px;
  margin: 0 auto 0 auto;
  padding: 80px;
  background: #fff;
  border: 0px;
}

.testimonial {
  margin-top: 0px;
  width: 960px;
  margin: 0 auto 0 auto;
  background: url(../images/testimonial_bg.jpg) no-repeat center top;
}

.yellow {
  width: 960px;
  height: 120px;
  margin: 0px auto 0px auto;
  background-color: #f9e42e;

}

p.quote {
  margin: 0px;
  padding: 110px 250px 120px 250px;
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  color: #eee;
}

.images {
  margin: 0px;
  padding: 50px 250px 50px 250px;
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  color: #eee;
}

p.copyright {
  margin: 140px auto auto auto;
  text-align: center;
  font-style: normal;
  font-size: 12px;
  color: #eee;
}


.twitter {
  float: left;
  margin-left: 390px;
  margin-top: 30px;
}

.facebook{
  float: right;
    margin-right: 400px;
     margin-top: 30px;
}
    


h1 {
  font-size: 50px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #eee;
}

h2 {
  font-size: 50px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: center;
  margin-top: 100px;
  color: #eee;
}

h3 {
  font-size: 40px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  color: #013049;
}


p {
  margin-top: 0px;
  font-size: 26px;
  text-align: left;
  font-weight: lighter;
  color: #666;
}

ul {
  width: 500px;
  padding-left: 60px;
  padding-top: 20px;
  list-style-type: disc;
  margin-top: 10px;
  font-size: 28px;
  text-align: left;
  font-weight: lighter;
  color: #666;

}


.button {
    background-color: #f9e42e;
    border: none;
    color: #033049;
    width: 260px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 70px;
    margin-left: 330px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
}

.button2 {
    background-color: #043049;
    border: none;
    color: #eee;
    width: 304px;
    height: 60px;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 330px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
}

.footer {
  width: 960px;
  height: 350px;
  padding: 40px;
  background-color: #000;
  text-align: center;
  margin: 0px auto 0px auto;
}

</style>


/******************************************
/* ADDITIONAL STYLES
/*******************************************/




